
*.html
*.csv
*.tsv
*.zip
*.png
*.js
*.txt
*.css
*.gif
*.svg
nf_run_2_crazy_lorenz/.DS_Store
nf_run_2_crazy_lorenz/qualimap/.DS_Store
nf_run_2_crazy_lorenz/qualimap/1_B6/.DS_Store
*.pdf
*.pptx
*.xlsx
data/.DS_Store
.DS_Store
